.icons-1{
    height: 105px;
    width: 105px;
    border-radius: 50px;
    border: 8px solid white;
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}
.badge{
    height: 18px;
    width: 18px;
    border-radius: 50px;
    color:black;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-size: 11px;
}
.icon{
    height: 50px;
    width: 50px;
}
h1,h3,h2{
    font-family:'Anton', sans-serif ;
}
body{
    font-family:'Abel', sans-serif;
}
.ads-1{
    height: 100px;
    width: 100px;
    border: 2px solid #e6e6e6;
}
.gap{
    gap: 20px;
}
p{
    font-family: "Roboto",sans-serif;
}